<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客注册</title>
</head>
<body>
<form action="{% url  'login_and_sign:message' %}" method="post">
    {% csrf_token %}
用户名：<input type="text" id="username" name="username" autofocus="on"/><br/>
密码：<input type="text" id="password" name="password"/><br/>
再次输入密码：<input type="text" id="password2" name="password2"/><br/>
邮箱地址：<input type="text" id="email" name="email"/><br/>
<input type="submit" value="提交" />
</form>
<a href="{% url 'login' %}">返回登入界面</a>
</body>
</html>