<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if error_message %}
    {{ error_message }}<br/>
{% endif %}
用户：{{ username }}<br/>
文章列表：<br/>
{% for title,passageid,time in passages %}
    <form action="{% url 'blogs:passage_detail' passage_id  %}" method="post">
    标题：{{ title }}  发布时间：{{ time }}
    <input type="submit" value="访问该文章" name="datail"/>
    </form>
{% endfor %}
<form action="{% url 'blogs:home' %}" method="get">
    <input type="submit" value="上一页" name="up_page">
    <input type="submit" value="下一页" name="next_page"> <br/>
    <input type="submit" value="新增文章" name="new_passage" > <br/>
    <input type="submit" value="退出" name="exit"><br/>
</form>
当前所在页数:{{ index }}<br/>
总页数:{{ index_all }}
</body>
</html>