<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客主页</title>
</head>
<body>
{% autoescape off %}
{% if error_message %}
    {{ error_message }}<br/>
{% endif %}
{% endautoescape %}
用户：{{ username }}
<a href="{% url 'blogs:self_home' %}">个人主页</a> <br/>
<form action="{% url 'blogs:search' %}" method="get">
    在此处输入搜索内容<br/>
    <input type="text" name="search_text" id="search_text"><br/>
    <input type="submit" value="搜索">
</form>
文章列表：<br/>
{% for p in passages %}
    <form action="{% url 'blogs:passage_detail' p.id %}" method="get">
    标题：{{ p.title }}  发布时间：{{ p.pub_time|date:"Y-m-d" }}
        {# |data 为过滤器，详见 http://usyiyi.cn/translate/Django_111/ref/templates/builtins.html#ref-templates-builtins-filters #}
    <input type="submit" value="访问该文章" name="datail"/>
    </form>
{% endfor %}
<form action="{% url 'blogs:home' %}" method="get">
    <input type="submit" value="上一页" name="up_page">
    <input type="submit" value="下一页" name="next_page"> <br/>
    <input type="submit" value="新增文章" name="new_passage" > <br/>
    <input type="submit" value="退出" name="exit"><br/>
</form>
当前所在页数:{{ index }}<br/>
总页数:{{ index_all }}
</body>
</html>