<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
文章标题：{{ title }} <br/>
文章标签：{{ type1 }},{{ type2 }},{{ type3 }}
文章内容：<br/>
{% autoescape off %}
{{ text }}<br/>
{% endautoescape %}
发布时间：{{ pub_time }}<br/>
作者：{{ username }}<br/>
<form action="{% url 'blogs:add_comment' passage_id %}" method="get">
    <input type="submit" name="visit" value="新增评论">
</form>
评论区：<br/>
{% for c in comment %}
    {{ c.text|safe }}<br/>
    作者:{{ c.username_id__username }}发表时间:{{ c.pub_time }}<br/>
    <form action="{% url 'blogs:passage_detail' passage_id %}" method="get">
    {% if delete %}
        <input type="hidden" value="{{ c.id }}" name="comment_id"/>
        <input type="submit" name="delete" value="删除"/>
    {% endif %}
    </form>
{% endfor %}
<a href="{% url 'blogs:home' %}">回到主页</a>
</body>
</html>