{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'login_and_sign/style.css' %}"/>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登入-blog</title>
</head>
<body>
{% if error_message %}
    <b>{{ error_message }}</b>
{% endif %}
<form action="{% url 'login_and_sign:home' %}" method="post">
    {% csrf_token %}
    欢迎回来，亲爱的用户。<br/>
    用户名：<input type="text" id="username" name="username" /> <br/>
    密码：<input type="password" id="password" name="password" /> <br/>
    <input type="submit" value="确定"/><br/>
</form>
<a href="{% url 'login_and_sign:sign' %}">还未注册，点击此处注册(点击就送屠龙宝刀)</a>
</body>
</html>
