<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

用户：{{ username }}<br/>
<div id="guo_kai_lu" style="background-image: url("../../picture/lili.jpg")>
文章列表：<br/>
{% for title,passageid,time in passages %}
    <form action="{% url 'blogs:passage_detail' passage_id  %}" method="post">
    标题：{{ title }}  发布时间：{{ time }}
    <input type="submit" value="访问该文章" name="datail"/>
    </form>
{% endfor %}
<input type="button" value="">
</div>
</body>
</html>